<!DOCTYPE html>
<html>
    <head>
        
    </head>
    <body>
        <div id="wrapper">
            <h1><%= @user.name %></h1>
            <% @user.departments.each do |department| %>
                <a><%= department.department %> <%= department.position %></a><br>
            <% end %>
            <p><%= @user.address %></p>
        </div>
    </body>


