<!DOCTYPE html>
<html>
    <head>
        
    </head>
    <body>
        <div id="wrapper">
            <div class="changebox">
                <div class="inchangebox">
                    <% if @current_user.authority == 1 %>
                        <li><a href="/index">社員一覧</a></li>
                    <% else %>
                        <li><a href="/edit">編集</a></li>
                    <% end %>                    
                </div>
            </div>
            
            <h1><%= @current_user.name %></h1>
            <% @current_user.departments.each do |department| %>
                <a><%= department.department %> <%= department.position %></a><br>
            <% end %>
            <p><%= @current_user.address %></p>
            
            
        </div>
    </body>


