// Place all the styles related to the attends controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* attendall */
.attend-link{
    font-size: 20px;
    color: navy;
    text-decoration: none;
    font-weight: 700;
}
.attend-link:hover{
    color: salmon;
}

.nextmonth{
    float: right;
}

/*edit_attend*/
.inputdate {
    font-size: 25px;
    font-weight: 600;
    border: 0;
}

.inputtime {
    font-size: 20px;
    font-weight: 700;
    border: 0;
}

.inputrest{
    font-size: 20px;
    text-align: right;
    width: 40px;
    border: 0;
}

.link-name a{
    color: black;
    text-decoration: none;
}
.link-name a:hover{
    color: salmon;
}

