// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* カラム全体 */
#wrapper{
    position:absolute;
    top:50px;
    width:1050px;
    right:0;
    left:0;
    margin:0 auto;
    height:100%;
//    background-color:gray;
}

/* index */
.depabox{
    float:left;
    width: 32%;
    height: 350px;
    margin: 0 5px 10px 5px;
//    background-color:white;
}

.depabox h2{
    color: gray;
}

.depabox a{
    color: black;
    text-decoration: none;
}
.depabox a:hover{
    color: salmon;
}

.attend-input{
    position:relative;
    width: 65%;
    height: 300px;
//    background-color: gray;
}

.attend-input button{
    font-size: 30px;
    padding: 0 60px;
//    background-color: darkgray;
    color: #fff;
    border-style: none;
    border-radius: 5px; /*丸み*/
    margin: 15px 0px;
}
.attend-input button:hover{
    background-color: lightgray;
}

.start{
    background-color: #59b1eb;
}
.finish{
    background-color: salmon;
}

.radio-input{
    font-size: 15px;
    padding: 0 40px;
    background-color: darkgray;
    color: #fff;
    border-style: none;
    border-radius: 5px; /*丸み*/
}
.radio-input:hover{
    background-color: lightgray;
}

/* edit */
.signup{
    width:20%;
    height:30px;
    font-size: 14px;
    border-radius: 5px;
}

.signup_name{
    width:40%;
    height:45px;
    font-size: 25px;
    border-radius: 5px;
}

.signup_address{
    width:60%;
    height:30px;
    font-size: 16px;
    border-radius: 5px;
}

.button_signup{
  font-size: 15px;
  padding: 10px 100px;
  background-color: #59b1eb;
  color: #fff;
  border-style: none;
  border-radius: 5px; /*丸み*/
  margin: 15px 0px;
}
.button_signup:hover{
  background-color: #B0E0E6;
}

.changebox{
    float: right;
    width: 32%;
    height: 350px;
    margin: 15px 5px 10px 5px;
    box-shadow: 0px 3px 10px -3px black;
    background-color: floralwhite;
}

.inchangebox{
    position: relative;
    width: 90%;
    height: 320px;
    top: 15px;
    left: 0;
    right: 0;
    margin: 0 auto;
//    background-color: white;
}

.inchangebox a{
    color: black;
    text-decoration: none;
}
.inchangebox a:hover{
    color: salmon;
}

.form-error {
  color: #ff4d75;
}

.straghtline {
   border-width: 1px 0px 0px 0px; /* 太さ */
   border-style: solid;
   border-color: gray;
   height: 1px;        
}

.link a{
    color: black;
    text-decoration: none;
}
.link a:hover{
    color: salmon;
}

.attend-destroy a{
    color: black;
    text-decoration: none;
}
.attend-destroy a:hover{
    color: salmon;
}

.color-red a{
    color: red;
    z-index: 3;
}


